{% extends "base.html" %}

{% block content %}
<div class="container-fluid no-padding">
<div class="row">
<div class="col-md-12">
<hr/>
    <hr/>
<form method="POST" action="/product/">
<table id="example" class="table table-striped table-bordered" style="width:100%;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
{% for key, value in items.items() %}
            <tr>
                <td>{{ value.name }}</td>
                <td>{{ value.quantity }}</td>
                <td>{{ value.unit }}</td>
                <td>{{ value.unit_price }}</td>
            <td></td>
            </tr>
{% endfor %}
        <tr>
                    {% for field in form if field.widget.input_type != 'hidden' %}
                    <td>{{ field }}</td>
            {% endfor %}
            <td><input type="submit" value="Go"></td>
        </tr>
        </tbody>
    </table>
</form>
</div>
</div>
    </div>
{% endblock %}
